body{

    text-align: center;
    font-family: "Helvetica Neue";
    background-color:rgb(40, 105, 85);
    color: white;
    display: block;
    font-size: 18px;  
    margin: auto;
    margin-bottom: auto;
    text-align: center;
    font-family: "Helvetica Neue";
    background-color:rgb(40, 105, 85);
    color: white;
}
