#AbdullahFooter
{
    box-shadow: 0 2px 8px 2px rgb(5, 46, 34);
    display: block;
    color: rgb(40, 105, 85);
    background-color: rgb(14, 78, 59);
    font-size: 12px;
    text-align: center;
    width: 101.3%;
    height: auto;
    bottom: 0;
    left: 0;
    margin-top: -16px;
    margin-bottom: -200px;
    margin-left  : -11px;
}

p.footerAbdüText 
{
    color: #fff;
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
    text-align: center;
    display: block;
}

img.footerimg 
{
    margin: auto;
    border: none;
    border-radius: none;
}

