#burcuHeader{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 85px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.377);
    margin:0;
    padding:0;
    background-color:rgba(7, 3, 59, 0.9);
}



