.ozgeButton{
    background-color:black;
    border:2px solid white;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 28px;
    color: white;
    margin-top: 10px;
    display: inline-block;
}


.ozgeForm {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.form-content-ozge {
    width: 500px;
    height: 400px;
    background-color:white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;
}

.ozgeInput{
    width: 50%;
    display: block;
    margin: 2px auto;
}