#esadHeader {
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background-color: rgb(153, 70, 107);
    height: 85px;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 8px 2px rgb(255, 255, 255);
}

#headerimgEsad
{
    margin: auto;
    border: none;
    border-radius: none;
}


